<div class="container mb-5">
        <table class="table text-light mt-2">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Articles</th>
                <th scope="col">Comments</th>

            </tr>
        </thead>
        <tbody>
            <% @following.each do |followee| %>
                <tr scope="row">
                    <td><%= link_to followee.username , profile_path(followee), class: "text-light" %></td>
                    <td><%= followee.articles.count %></td>
                    <td><%= followee.comments.count %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
</div>
