<div class="col-lg-6 mx-auto">
    <div class="card text-center">
    <h4 class="card-header bg-dark text-light">
        Confirmation Panding
    </h4>
    <div class="card-body">
        <h5 class="card-title" id="h5">Hello sir Please Confirm your Email</h5>
        <p class="card-text">We have sent you the email please go and click on<br> 
        <strong>Confirm My Account</strong></p>
    </div>
    <div class="card-footer text-muted">
        Please confirm within 1 hour
    </div>
    </div>
</div>